// input,
// select {
//     color: $main-color;
//     font-size: 1.5rem;
//     &.sard-input {
//         border: 1px solid $main-color;
//         height: 3rem;
//         width: 100%;
//         padding: .25rem 1rem;
//         min-width: 3em;

//         &:focus {
//             outline: none;
//         }
//     }
// }
// .sard-input-error {
//     color: $main-color;
// }

// .email-verify {
//     &-form {
//         .sard-input {
//             min-width: 3rem;
//         }
//     }
// }

:focus-visible {
    outline: none;
}

::placeholder {
    color: rgba($main-color, .35);
    font-size: 1.1rem;
}