.container {
    padding: 1rem;
    border-radius: .6rem;
    background-color: $card-bg;
    border-inline-end: .75rem solid $main-color;
    cursor: pointer;

    h3 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .details {
        display: flex;
        justify-content: space-between;

        span {
            font-size: .9rem;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &.pending {
        border-color: $pending;
    }

    &.rejected {
        border-color: $rejected;
    }

    &.accepted {
        border-color: $accepted;
    }
}